.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(3* var(--bs-gutter-x));
}
.heading-back {
    background-color: black;
    
}
.slider-image {
display: block;
    height: 20%;
    width: 20%;
    border-radius: 30%;
    float:inline-end;
    
}
.back-button {
    text-decoration: none;
    color: black;
}
.container-image {
    display: flex;
    justify-content: center;
    margin-top: -5%;       
}
.container-image img {
    height: 30vh;
    width: auto;
    border-radius: 20px;
    opacity: 80%;
}
/* .my-5 {
    height: 5vh;
} */
.bsm-list {
    display: flex;
    align-items: start;
    justify-content: flex-start;

}
.bsm-list .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 5px solid whitesmoke;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    text-indent: 0%;
}
.image-edu {
    display: flex;
    flex-wrap: wrap;
   margin-top: -5%;  
}
.image-edu img {
    height: 30vh;
    width: auto;
}
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
.bd-example table {
    margin-left: -30%;
}

        